*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    background-image: url(/imagenes/image.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover ;
    background-attachment: fixed;
}
.slider-box{
    width: 250px;
    height: auto;
    margin: 50px auto 0;
    
}
.slider-box ul{
    display: flex;
    padding: 0%;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;
}
.slider-box li{
    width: 100%;
    list-style: none;
    position: relative;
}
.slider-box img {
    width: 100%;
}
@keyframes slide {
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}
    
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
    
    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}
.texto{
    position: absolute;
    text-align: center;
    padding: 0 250px;
    top: 250px;
    color: white;
}
.texto h2{
    font-size: 45px;
    margin-bottom: 35px;
}
h1{
    text-align: center;
    padding: 20px;
    background-color: rgb(7, 7, 7);
    

}
p{
    color: white;
}
h3{
    color: rgb(188, 197, 29);
}
header{
    text-align:  center;
    color: white;
}

.container{
    width: 500px;
    border-radius: 800px;
    box-shadow: none;
    -ms-flex-item-align: center;
}

/*.clase ---- class=clase*/
.card{
    width: 400px;
    display: inline-block;
    padding: 20px;
    border-color: rgb(230, 230, 220);
    border-radius: 5%;
    background-color: rgb(214, 219, 222);
    color: rgb(7, 7, 7);
    gap: 10px;
    

    /*Selector id*/
    /*#id_element --- id="id_element"*/
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 40px;
  justify-items: center;
}

.card {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  border: 1px solid rgb(230, 230, 220);
  border-radius: 5%;
  background-color: rgb(214, 219, 222);
  color: rgb(7, 7, 7);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  gap: 10px;
}
button{
    background-color: rgb(230, 15, 108);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 20px;
    box-align: center;
}
 main section {
    border: 1px solid black;
    padding: 20px;
    width: 400px;
    border-radius: 20px;
    margin-top: 20px;
    background-color: rgb(81, 156, 156);
    box-shadow: 0 0 10px 10px inset;

 }

 main section{
    display: flex;
    width: 80%;
    margin: 0% auto;
    gap: 20px;
    border-radius: 20px;
    margin-top: 20px;
 }

main section  .img{
    width: 100px;
    height: 150px;
    border-radius: 200px;
    background-color: rgb(231, 174, 104);
    flex-direction: column;
    gap: 10px;
    text-box: center;
} 

section img{
    text-align: center;
}
ul, ul {
    border: 1 solid black;
    padding: 10px;
    
}
li {
    list-style: none;

}
li.hover {
    background-color: aquamarine;
    animation-play-state: running;
}

footer {
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
h2.xd{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-align: center;
    background-color: black;
    padding: 20px;

}

iframe{
    position: center;
    height: 400px;
}
.btn-waps{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background-color: #0df053;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
}
.card ul li{
    list-style: none;
    display: block;
    padding: 10px;
    width: 100%;
    margin: 10px 0;
    background-color: darkcyan;
    text-align: center;
}
footer{
    background-color: black;
    width: 100%;
    height: 200px;
    
}
